@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --background: hsl(172, 67%, 45%);
  --foreground: #171717;
  --primary-cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(172, 67%, 45%);
  --bg-cyan: hsl(185, 41%, 97%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: hsl(185, 41%, 84%);
  color: var(--foreground);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
